# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
##Assignment 1
venumbers=tuple(range(1,11))
print(venumbers)
print(type(venumbers))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [6]:
print(f"The First Number is {venumbers[0]}")
print(f"the Middle Number is {venumbers[len(venumbers)//2]}")
print(f"the last number is {venumbers[-1]}")

The First Number is 1
the Middle Number is 6
the last number is 10

In [6]:
### Assignment 3: Tuple Slicing

##Print the first three elements, the last three elements, and the elements from index 
#2 to 5 of the tuple created in Assignment 1.

print(venumbers[0:4])
print(venumbers[-3:])
print(venumbers[2:6])

(1, 2, 3, 4)
(8, 9, 10)
(3, 4, 5, 6)

In [13]:
matrix=(
    (1,2,3),
    (4,3,5),
    (7,8,9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(matrix[1][2])

Matrix:
(1, 2, 3)
(4, 3, 5)
(7, 8, 9)
5

In [ ]:
###Assignment 5
tuple1=tuple(range(1,4))
tuple2=tuple(range(4,7))
concenate_tuple=tuple1+tuple2
print(concenate_tuple)

(1, 2, 3, 4, 5, 6)

In [11]:
##Assignment 6
numbers=[int(numbers) for numbers in input("Enter 10 random numbers:").split()]
print(numbers)
for i in numbers:
     print(f"Number: {i}, Count: {numbers.count(i)}, Index: {numbers.index(i)}")

[1, 2, 2, 2, 3, 4, 5, 6, 7, 2, 3, 4]
Number: 1, Count: 1, Index: 0
Number: 2, Count: 4, Index: 1
Number: 2, Count: 4, Index: 1
Number: 2, Count: 4, Index: 1
Number: 3, Count: 2, Index: 4
Number: 4, Count: 2, Index: 5
Number: 5, Count: 1, Index: 6
Number: 6, Count: 1, Index: 7
Number: 7, Count: 1, Index: 8
Number: 2, Count: 4, Index: 1
Number: 3, Count: 2, Index: 4
Number: 4, Count: 2, Index: 5

In [18]:
elements_tuple=tuple(range(1,6))
Dil,Prem,Love,Pyaar,Mohabbat=elements_tuple
print(f"Dil:{Dil},Prem:{Prem},Love:{Love},Pyaar:{Pyaar},Mohabbat:{Mohabbat}")

Dil:1,Prem:2,Love:3,Pyaar:4,Mohabbat:5

In [20]:
lst=list(range(1,6))
tpl_conversion=tuple(lst)
print(tpl_conversion)
print(type(lst))

(1, 2, 3, 4, 5)
<class 'list'>

In [22]:
tpl_original=((1,2,3),(4,5,6),(7,8,9))
print(tpl_original)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [32]:
tuple_positive=(1,2,3,4,5)
tuple_conversion=list(tuple_positive)
tuple_conversion.append(6)
print(tuple_conversion)
to_tuple_again=tuple(tuple_conversion)
print(to_tuple_again)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [33]:
char_tuple=("k","a","r","i")
altogether=''.join(char_tuple)
print(altogether)

kari

In [36]:
tuples_original=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for row in tuples_original:
    for items in row:
        print(items,end=" ")

1 2 3 4 5 6 7 8 9

In [44]:
from collections import Counter
duplicates_tuples=(1,2,3,4,2,4,52,24,2345,52,1,1,1)
remove_tuple=tuple(Counter(duplicates_tuples))
print(remove_tuple)

(1, 2, 3, 4, 52, 24, 2345)

In [46]:
removes_tuple=tuple(set(duplicates_tuples))
print(removes_tuple)

(1, 2, 3, 4, 2345, 52, 24)

In [45]:

print(f"The original tuple is:{duplicates_tuples} ")
new_numbers=[]
for i in duplicates_tuples:
    if i not in new_numbers:
        new_numbers.append(i)
after_removing=tuple(new_numbers)
print(after_removing)

The original tuple is:(1, 2, 3, 4, 2, 4, 52, 24, 2345, 52, 1, 1, 1)
(1, 2, 3, 4, 52, 24, 2345)

In [57]:
def minimum_tuple(tp1):
    return min(tp1)
sample_tuple= (1,2,3,4,5)
print(sample_tuple)
print(f"Minimum value is : {minimum_tuple(sample_tuple)}")

(1, 2, 3, 4, 5)
Minimum value is : 1