# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [2]:
##Assignment 1
creation_Set={int(x) for x in range(1,11)}
print(creation_Set)
print(type(creation_Set))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [ ]:
##Assignment 2
creation_Set.add(11)
print(creation_Set)
creation_Set.remove(1)
print(creation_Set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [8]:
##Assignment 3
set1={1,2,3,4,5}
set2={6,7,8,9,10}
union_sets=set1.union(set2)
intersection_sets=set1.intersection(set2)
difference_sets=set1.difference(set2)
print(f"Symettric Difference :{set1 ^ set2}")
print(union_sets)
print(intersection_sets)
print(difference_sets)

Symettric Difference :{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()
{1, 2, 3, 4, 5}

In [12]:
##Assignment 4
set_squares={x**2 for x in range(1,11)}
print(set_squares)
print(type(set_squares))

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
<class 'set'>

In [ ]:
##Assignment 5
only_even_numbers={int(x) for x in range(1,11) if x%2==0}
print(only_even_numbers)

{2, 4, 6, 8, 10}

In [15]:
##Assignment 6
duplicate_set={2,2,3,4,2,4,5,6,3,7,9,4,2}
# print(type(duplicate_set))
print(set(duplicate_set))

{2, 3, 4, 5, 6, 7, 9}

In [21]:
## Assignment 7
set1={x for x in range(1,6)}
set2={y for y in range(1,4)}
print(set2.issubset(set1))
print(set1.issuperset(set2))

True
True

In [25]:
##Assignment 8
cool_set=frozenset(range(1,6))
print(cool_set)

frozenset({1, 2, 3, 4, 5})

In [26]:
##Assignment 9
positive_integer={1,2,3,4,5}
conversion_to_list=list(positive_integer)
conversion_to_list.append(6)
converion_to_set=set(conversion_to_list)
print(converion_to_set)

{1, 2, 3, 4, 5, 6}

In [28]:
##Assignment 10
iteration_of_elements=set(range(1,6))
for i in iteration_of_elements:
    print(i,end=" ")

1 2 3 4 5

In [33]:
##Assignment 12
removal_of_set=set(range(1,6))
while removal_of_set:
    removal_of_set.pop()
    print(removal_of_set)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [43]:
##Assignment13
set1={1,2,3,4}
set2={3,4,5,6}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 5, 6}

In [44]:
#Assignment 14
set1=set(range(1,11))
print(7 in set1)
print(11 in set1)

True
False

In [46]:
##Assignment 15
set_of_tuples={(12,14),(17,10),(2,3)}
print(set_of_tuples)

{(2, 3), (12, 14), (17, 10)}